footer {
    background-color: hsl(91, 18%, 44%);
    color: #000000;
    padding: 30px;
    text-align: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: hsl(91, 18%, 44%);
    color: #000000;
    padding: 30px;
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgba(112, 132, 92, 0.479);

}

.bonecoMenu {
    height: 50px;
    width: 50px;
}

.navbar a {
    font-size: 25px;
}

footer {
    /* position: fixed; */
    bottom: 0;
    text-align: center;
    /* padding: 20px */
}

